{% if pagination|length > 1 %}
    {% if base_url == '' %}
        {% set base_url = '/' %}
    {% endif %}
    <div class="ui menu pagination">
        {% if pagination.hasPrev %}
            {% set url =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
            <a class="item" rel="prev" href="{{ url }}"><i class="icon angle left"></i></a>
        {% else %}
            <div class="item"><i class="icon angle left"></i></div>
        {% endif %}

        {% for paginate in pagination %}

            {% if paginate.isCurrent %}
                <div class="item active">{{ paginate.number }}</div>
            {% elseif paginate.isInDelta %}
                {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
                <a class="item" href="{{ url }}">{{ paginate.number }}</a>
            {% elseif paginate.isDeltaBorder %}
                <span class="item">&hellip;</span>
            {% endif %}

        {% endfor %}
        {% if pagination.hasNext %}
            {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
            <a class="item" rel="next" href="{{ url }}"><i class="icon angle right"></i></a>
        {% else %}
            <span class="item"><i class="icon angle right"></i></span>
        {% endif %}
    </div>
{% endif %}
