{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set authors = page.taxonomy.author %}
    {% set author = authors | length ? authors[0] : site.author.name  %}

    {% set categories = page.taxonomy.category %}

    {% set categoryRaws = [] %}

    {% if categories %}
        {% for value in categories %}
        {% set categoryRaws = categoryRaws|merge(['<a href="' ~ base_url ~ '/category' ~ config.system.param_sep ~ '' ~ value ~'">' ~ value ~ '</a>']) %}
        {% endfor %}
    {% endif %}

    <div class="post--single post">
        <h2 class="post__title">{{ page.title }}</h2>
        <div class="muted post__meta">
            By {{ author }}. {{ page.date|date() }}{% if categoryRaws %}, in {{ categoryRaws | join(', ') }}{% endif %}
        </div>
        <div class="ui divider hidden"></div>
        <div class="post__body">
            {{ page.content }}

            <div class="ui divider hidden"></div>
            <div>
                {% set tags = page.taxonomy.tag %}
                {% if tags %}
                    Tags:
                    {% for value in tags %}
                        <a class="ui blue basic label" href="{{ base_url }}/tag{{ config.system.param_sep }}{{ value|e('url') }}">{{ value }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="ui divider hidden"></div>

        <button data-url="https://www.facebook.com/sharer/sharer.php?u={{ page.url(true) }}" data-title="{{ page.title }}" class="ui circular facebook icon button btn-share">
            <i class="facebook icon"></i>
        </button>
        <button data-url="https://twitter.com/intent/tweet?text={{ page.title }}%20{{ page.url(true) }}" data-title="{{ page.title }}" class="ui circular twitter icon button btn-share">
            <i class="twitter icon"></i>
        </button>
        <button data-url="https://plus.google.com/share?url={{ page.title }}%20{{ page.url(true) }}" data-title="{{ page.title }}" class="ui circular google plus icon button btn-share">
            <i class="google plus icon"></i>
        </button>

        <div class="ui divider hidden"></div>

        {{ jscomments() }}
    </div>

    <div class="ui segment basic center aligned">
        <a href="{{ base_url_absolute }}" class="ui button basic blue big"><i class="icon angle left"></i> Return to home</a>
    </div>
{% endblock %}

